<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamdeng.learn.spring.mapper.MenuMapper">

  <sql id="select-field">
		  id AS id /* ID */
      ,create_user_id AS create_user_id /* 등록자 ID */
      ,update_user_id AS update_user_id /* 수정자 ID */
      ,create_date AS create_date /* 등록일 */
      ,update_date AS update_date /* 수정일 */
      ,is_delete AS is_delete /* 삭제 여부 */
      ,name AS name /* 메뉴명 */
      ,name_en AS name_en /* 메뉴영문명 */
      ,module_type AS module_type /* 모듈타입 */
      ,menu_key AS menu_key /* 메뉴키 */
      ,menu_upper_key AS menu_upper_key /* 상위메뉴키 */
      ,menu_url AS menu_url /* 메뉴URL */
	</sql>

  <!-- select -->
	<select id="select"
      parameterType="com.yamdeng.learn.spring.dto.request.MenuRequestDTO"
			resultType="com.yamdeng.learn.spring.dto.response.MenuDTO">
		SELECT <include refid="select-field"/>
		FROM
			APP_MENU
		WHERE 1=1
    <include refid="CommonMapper.common_page_bottom"/>
	</select>

  <!-- list:totalCount -->
  <select id="getTotalCount"
			parameterType="com.yamdeng.learn.spring.dto.request.MenuRequestDTO"
			resultType="int">
		SELECT count(*) totalCount
		FROM   APP_MENU
		WHERE  1 = 1
	</select>

	<!-- getDetail -->
	<select id="getMenuById"
			parameterType="java.lang.Long"
			resultType="com.yamdeng.learn.spring.dto.response.MenuDTO">
		SELECT <include refid="select-field"/>
		FROM   APP_MENU
		WHERE  1 = 1
		and id = #{id}		
	</select>

	<!-- insert -->
	<insert id="insertMenu"
			parameterType="com.yamdeng.learn.spring.dto.response.MenuDTO"
      keyColumn="id" keyProperty="id" useGeneratedKeys="true">
      INSERT INTO APP_MENU (
          name
          <if test='createUserId != null and !createUserId.equals("")'>
            ,create_user_id
          </if>
          <if test='updateUserId != null and !updateUserId.equals("")'>
            ,update_user_id
          </if>
          <if test='createDate != null and !createDate.equals("")'>
            ,create_date
          </if>
          <if test='updateDate != null and !updateDate.equals("")'>
            ,update_date
          </if>
          <if test='isDelete != null and !isDelete.equals("")'>
            ,is_delete
          </if>
          <if test='nameEn != null and !nameEn.equals("")'>
            ,name_en
          </if>
          <if test='moduleType != null and !moduleType.equals("")'>
            ,module_type
          </if>
          <if test='menuKey != null and !menuKey.equals("")'>
            ,menu_key
          </if>
          <if test='menuUpperKey != null and !menuUpperKey.equals("")'>
            ,menu_upper_key
          </if>
          <if test='menuUrl != null and !menuUrl.equals("")'>
            ,menu_url
          </if>
      ) VALUES (
          #{name}
          <if test='createUserId != null and !createUserId.equals("")'>
            ,#{createUserId}
          </if>
          <if test='updateUserId != null and !updateUserId.equals("")'>
            ,#{updateUserId}
          </if>
          <if test='createDate != null and !createDate.equals("")'>
            ,#{createDate}
          </if>
          <if test='updateDate != null and !updateDate.equals("")'>
            ,#{updateDate}
          </if>
          <if test='isDelete != null and !isDelete.equals("")'>
            ,#{isDelete}
          </if>
          <if test='nameEn != null and !nameEn.equals("")'>
            ,#{nameEn}
          </if>
          <if test='moduleType != null and !moduleType.equals("")'>
            ,#{moduleType}
          </if>
          <if test='menuKey != null and !menuKey.equals("")'>
            ,#{menuKey}
          </if>
          <if test='menuUpperKey != null and !menuUpperKey.equals("")'>
            ,#{menuUpperKey}
          </if>
          <if test='menuUrl != null and !menuUrl.equals("")'>
            ,#{menuUrl}
          </if>
      )
	</insert>

  <!-- update -->
  <update id="updateMenu"
    parameterType="com.yamdeng.learn.spring.dto.response.MenuDTO">
		UPDATE APP_MENU
		SET
        update_date = <include refid="CommonMapper.current_date_function"/>
        <if test='createUserId != null and !createUserId.equals("")'>
          ,create_user_id = #{createUserId}
        </if>
        <if test='updateUserId != null and !updateUserId.equals("")'>
          ,update_user_id = #{updateUserId}
        </if>
        <if test='createDate != null and !createDate.equals("")'>
          ,create_date = #{createDate}
        </if>
        <if test='isDelete != null and !isDelete.equals("")'>
          ,is_delete = #{isDelete}
        </if>
        <if test='name != null and !name.equals("")'>
          ,name = #{name}
        </if>
        <if test='nameEn != null and !nameEn.equals("")'>
          ,name_en = #{nameEn}
        </if>
        <if test='moduleType != null and !moduleType.equals("")'>
          ,module_type = #{moduleType}
        </if>
        <if test='menuKey != null and !menuKey.equals("")'>
          ,menu_key = #{menuKey}
        </if>
        <if test='menuUpperKey != null and !menuUpperKey.equals("")'>
          ,menu_upper_key = #{menuUpperKey}
        </if>
        <if test='menuUrl != null and !menuUrl.equals("")'>
          ,menu_url = #{menuUrl}
        </if>
		WHERE id = #{id}
	</update>

  <!-- delete -->
  <delete id="deleteMenuById"
			parameterType="java.lang.Long">
		DELETE FROM APP_MENU
		WHERE  id = #{id}		
	</delete>

</mapper>